  @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
body {
    background-image: url(../images/fondo.png);
    background-repeat: no-repeat;
    background-size: contain;
    overflow-x: hidden;
}
#title {
    color: white;
    font-size: 900%;
    margin-top: 12%;
    text-shadow: 1px 1px 10px white;
    font-family: 'Kaushan Script', cursive;
}
#desc1 {
    font-size: 120%;
    color: white;
    text-shadow: 1px 1px 3px black;
    border-style: double;
    border-radius: 10px;
    border-width: 5px;
    width: 95%;
    background-color: rgba(0, 0, 0, 0.23);
}
#aqua {
    color: rgb(0, 191, 255);
    text-shadow: 5px 5px 10px rgb(255, 86, 114);
}
#jelly {
    color:  rgb(255, 86, 114);
    text-shadow: 5px 5px 10px rgb(0, 191, 255);
}

#util {
    background-color: white;
}
#titulosclaro {
    color: black;
}
#titulososcuro {
    color: white;
}
#aliados {
    background-color: black;
}
#benef {
    background-color: black;
}

#footer {
    margin-left: 5%;
}
#link {
    text-decoration: none;
}